version: "3.9"

services:
  n8n:
    container_name: n8n
    # image: n8nio/n8n
    build:
      context: .
      dockerfile: Dockerfile
    image: nurhanhasan/my-n8n-with-docker:v0.2
    # network_mode: host
    networks:
      - my_n8n_network
    ports:
      - "5678:5678"
    environment:
      # ngrok http 5678
      WEBHOOK_URL: "https://<ngrok_subdomain>.ngrok-free.dev"
    volumes:
      - n8n_data:/home/node/.n8n
      - /var/run/docker.sock:/var/run/docker.sock
    

volumes:
  n8n_data:
    external: true

networks:
  my_n8n_network:
    driver: bridge






